/*
 * SMACSS + SCSS starter v2.1
 * Inspired by SMACSS http://smacss.com
 * Author: @jonathanpath
 * Date: 4 August 2015
 *
 * https://github.com/jonathanpath/SASS-SMACSS
 * See file structure in http://jonathanpath.com/sass+smacss/scss/style.scss
 *
 * Coding rules : https://github.com/necolas/idiomatic-css
 *
 */
/* Site settings */
* {
  border: none;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none; }

/*@import '_/sass/reset';*/
/*// Modules-------------*/
.heading_wrap {
  width: 100%;
  /*border:1px blue solid;*/ }

.logo_hamburger_wrap {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*border:1px red solid;*/
  margin: 0.5em auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  margin: auto;
  width: 100%;
  max-width: 20em;
  text-align: center;
  /*border:1px red solid;	*/ }

.logo > img {
  width: 70%;
  height: 50%;
  max-width: 20em;
  /*border: 1px red solid;*/ }

.menu_hamburger {
  width: 10%; }

.fas.fa-bars {
  color: #EB586F;
  font-size: 1.5em;
  padding-bottom: 2em;
  margin: auto;
  /*border: 1px red solid;*/ }

.fas.fa-times {
  color: #EB586F;
  font-size: 1.5em;
  padding-bottom: 2em;
  margin: auto;
  /*border: 1px red solid;*/ }

/*------BANNER_IMAGE------*/
.banner_wrap {
  position: relative;
  /*border: 1px red solid;*/ }

.banner_image {
  width: 100%;
  height: 100%;
  max-height: 35em;
  /*border: 1px red solid;*/ }

.photo_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 70%;
  position: absolute;
  top: 40%;
  left: 13%;
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg); }

.greeting {
  font-family: "Quicksand", sans-serif;
  font-size: 0.8em;
  font-style: italic;
  color: white;
  text-align: center;
  position: absolute;
  width: 60%;
  top: 50%;
  left: 38%;
  /*border: 1px red solid;*/ }

.photo_wrap:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: .5em;
  background-color: #EB586F; }

.photo_wrap:hover > img {
  -webkit-transform: rotate(6deg);
  transform: rotate(6deg);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  -webkit-box-shadow: -1px 5px 10px -2px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 5px 10px -2px rgba(0, 0, 0, 0.5); }

.photo_wrap:hover:before {
  -webkit-transform: rotate(6deg);
  transform: rotate(6deg);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  -webkit-box-shadow: -1px 5px 10px -2px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 5px 10px -2px rgba(0, 0, 0, 0.5); }

.photo_wrap > img {
  position: relative;
  border-radius: .5em;
  padding: 0.3em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /*opacity:0.6;*/ }

.nav {
  text-decoration: none;
  display: block; }

.nav_menu_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  font-family: "Comfortaa", cursive;
  padding-right: 2em;
  display: none; }

.nav_menu {
  text-decoration: none;
  display: block;
  letter-spacing: 0.03em;
  font-size: 1.1em;
  padding-bottom: 0.5em; }

.nav_menu > a {
  text-decoration: none;
  display: block;
  color: black; }

.mastercontainer {
  width: 100vw;
  height: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  width: 100%;
  height: 100vw;
  background-color: #F1EDD9; }

.section1 {
  width: 100%;
  height: 100%;
  background-color: #F1EDD9; }

.works_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 30%;
  /*border: 1px red solid;*/
  margin-top: 3em; }
  .works_wrap .line {
    width: 15%;
    /*height: 100%;*/
    /*border: 1px blue solid;*/
    text-align: right;
    position: relative;
    /*margin: auto;*/ }
  .works_wrap .line:after {
    content: '';
    position: absolute;
    top: 25%;
    left: 40%;
    background-color: #EB586F;
    width: 40%;
    height: 1px;
    /*flex:1 0;*/
    /*border: 1px blue solid;*/
    /*margin: auto;*/ }
  .works_wrap #span_p {
    font-family: "Comfortaa", cursive;
    color: #EB586F;
    font-size: 2em; }
  .works_wrap #span_ortfolio {
    font-family: "Comfortaa", cursive;
    font-size: 1.4em;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    padding-top: 0.3em;
    /*border: 1px blue solid;*/ }
